{% extends 'base.html.twig' %}
{% import 'macros.twig' as macros %}

{% block title %}Hello MainController!{% endblock %}

{% block navtitle %}My Controllers{% endblock %}

{% block panelContent %}
<div class="row">
    {% for controller in controllers %}
    <div class="col-sm-6 col-md-4 col-lg-3 mb-2">
        <div class="card text-center">
            <div class="card-body">
                <h4 class="card-title">
                    {{ controller.name }}
                </h4>
                {% if controller.status == 1 %}
                    <button class="btn btn-block btn-danger mb-2">Disconnected</button>
                {% else %}
                     <button class="btn btn-block btn-success mb-2">Connected</button>
                {% endif %}
                <p class="card-text">
                    {{ controller.url }}
                </p>
                <a class="stretched-link" href="{{ path('view-controller', {'id': controller.id }) }}">
                </a>
            </div>
        </div>
    </div>
    {% endfor %}
</div>
{% endblock %}

{% block sideMenu %}
{{ parent() }}
<h5 class="my-3 text-center">
    Actions
</h5>
{{ macros.menu([
        {'path': 'sync-controllers', 'label': 'Remote syncing', 'icon': 'fa fa-network-wired'},
        {'modal': 'add', 'label': 'Add a controller', 'icon': 'fa fa-edit'}
    ])}}

<div class="modal fade" id="modal-add">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title">
                    Add a controller
                </h4>
                <button aria-label="Close" class="close" data-dismiss="modal" type="button">
                    <span aria-hidden="true">
                        ×
                    </span>
                    <span class="sr-only">
                        Close
                    </span>
                </button>
            </div>
            <div class="modal-body">
                {{ form_start(form) }}
                {{ form_widget(form) }}
            </div>
            <div class="modal-footer">
                <button class="btn btn-secondary" data-dismiss="modal" type="button">
                    Close
                </button>
                <button class="btn btn-light">
                    {{ button_label|default('Save') }}
                </button>
                {{ form_end(form) }}
            </div>
        </div>
        <!-- /.modal-content -->
    </div>
    <!-- /.modal-dialog -->
</div>
    {% endblock %}
