{% extends 'base.html.twig' %}
{% import 'macros.twig' as macros %}

{% block title %}Hello MainController!{% endblock %}

{% block navtitle %}My Lightings{% endblock %}

{% block panelContent %}
<div class="row">
    <div class="col">
    {{ macros.datatable(
        luminaires,
        ['address','serial','controller.name'],
        ['Address', 'Serial', 'Controller'],
        'table-sm', false, [{'id': 'edit', 'icon':'fa fa-edit'},{'id':'delete', 'icon':'fa fa-trash'}])
    }}
    </div>
</div>

{% for luminaire in luminaires %}
	<div class="modal fade" id="modal-edit-{{ luminaire.id }}">
		<div class="modal-dialog" role="document">
			<div class="modal-content">
				<div class="modal-header">
					<h4 class="modal-title">Manage Lighting {{ luminaire.address }}</h4>
					<button type="button" class="close" data-dismiss="modal" aria-label="Close">
						<span aria-hidden="true">&times;</span>
						<span class="sr-only">Close</span>
					</button>
				</div>
				<div class="modal-body">
                    {% if controllers|length > 1 or luminaire.controller is null %}
					Click on a controller to link this lighting:
					{% for controller in controllers %}
                        {% if luminaire.controller is null %}
                            <a class="btn btn-block btn-primary" href="{{ path('link-controller', {'luminaire': luminaire.id, 'controller': controller.id}) }}">{{ controller.name }}</a>
                        {% else %}
                            {% if luminaire.controller.id != controller.id %}
						    <a class="btn btn-block btn-primary" href="{{ path('link-controller', {'luminaire': luminaire.id, 'controller': controller.id}) }}">{{ controller.name }}</a>
                            {% endif %}
                        {% endif %}
					{% endfor %}
                    {% endif %}
                    {% if luminaire.controller is not null %}
                        <a class="btn btn-block btn-danger" href="{{ path('unlink-controller', {'luminaire': luminaire.id, 'controller': luminaire.controller.id }) }}"> Unlink from {{ luminaire.controller.name }}</a>
                    {% endif %}
				</div>
				<div class="modal-footer">
					<button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
					{# <button type="button" class="btn btn-primary">Save changes</button> #}
				</div>
			</div><!-- /.modal-content -->
		</div><!-- /.modal-dialog -->
	</div><!-- /.modal -->

    <div class="modal fade" id="modal-delete-{{ luminaire.id }}">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-body">
                    <a class="btn btn-block btn-danger" href="{{ path('delete-lighting', {'id': luminaire.id }) }}">Confirm delete</a>
                    <button type="button" class="btn btn-block btn-primary" data-dismiss="modal">Cancel</a>
                </div>
            </div><!-- /.modal-content -->
        </div><!-- /.modal-dialog -->
    </div><!-- /.modal -->
{% endfor %}

{% endblock %}

{% block sideMenu %}
{{ parent() }}
<h5 class="my-3 text-center">
    Actions
</h5>
{{ macros.menu([
    {'path': 'new-lighting', 'label': 'New Lighting', 'icon': 'fa fa-plus'}
    ])}}
{% endblock %}

{% block collapseMenu %}
{{ parent() }}
<hr>
{{ macros.menu([
    {'path': 'new-lighting', 'label': 'New Lighting', 'icon': 'fa fa-plus'}
    ])}}
{% endblock %}
