{% macro datatable(rows, cols, names, styles = "display compact", actions = false, modals = false) %}
	{% import _self as self %}
    <table class="table {{ styles }}">
		<thead>
			<tr>
				{% for name in names %}
				    <th>{{ name }}</th>
				{% endfor %}
				{% if actions %}
					<th>Actions</th>
				{% endif %}
				{% if modals %}
					<th>Actions</th>
				{% endif %}
			</tr>
		</thead>
		<tbody>
			{% for row in rows %}
				<tr>
					{% for col in cols %}
					    <td>
					    	{% if col is iterable %}
						    	{% for c in col %}
						    	    {{ self.get_attribute(row, c) }} 
						    	{% endfor %}
						    {% else %}
						    	{{ self.get_attribute(row, col) }}
					    	{% endif %}
					    </td>
					{% endfor %}
					{% if actions %}
						<td>
							{% for action in actions %}
		                    	<a href="{{ path( action.path, {'id': row.id}) }}" class="{% if action.icon is defined %}btn btn-link btn-sm {{ action.icon }}{% endif %}">{% if action.label is defined %}{{ action.label }}{% endif %}</a>
		                    {% endfor %}
		                </td>
	                {% endif %}
	                {% if modals %}
	                	<td>
	                		{% for modal in modals %}
	                			<a href="#" class="{% if modal.icon is defined %}btn btn-link btn-sm {{ modal.icon }}{% endif %}" data-toggle="modal" data-target="#modal-{{ modal.id }}-{{ row.id }}">{% if modal.label is defined %}{{ modal.label }}{% endif %}</a>
	                		{% endfor %}
	                	</td>
	                {% endif %}
				</tr>
			{% endfor %}
		</tbody>
	</table>
{% endmacro %}

{% macro get_attribute(object, attributes) %}
    {% apply spaceless %}
    {% set attributes = attributes|split('.') %}

    {% set value = object %}
    {% for attribute in attributes %}
        {% set value = attribute(value, attribute|trim) is defined ? attribute(value, attribute|trim) : null %}
    {% endfor %}
    {% if value.timestamp is defined %}
	    {{ value|date('Y-m-d H:i:s') }}
	{% else %}
	    {{ value }}
	{% endif %}
    {% endapply %}    
{% endmacro %}

{% macro menu(items, class = "btn btn-outline-dark btn-block") %}
	{% for item in items %}
		<li class="nav-item p-1">
			{% if item.path is defined %}
		        <a class="nav-link {{ class }}" href="{{ path(item.path) }}">
		        	<span class="{{ item.icon }}">
		            </span>
		            <span class="d-inline d-xs-none">
		                {{ item.label }}
		            </span>
		        </a>
		    {% endif %}
	        {% if item.modal is defined %}
		        <button class="nav-link {{ class }}" data-target="#modal-{{ item.modal }}" data-toggle="modal">
		            <span class="{{ item.icon }}">
		            </span>
		            <span class="d-inline d-xs-none">
		                {{ item.label }}
		            </span>
		        </button>
	        {% endif %}
	    </li>
	{% endfor %}
{% endmacro %}