{% macro datatable(rows, cols, names, styles = "table-responsive table-inverse", actions = false, modals = false) %}
	{% import _self as self %}
    <table class="table {{ styles }}">
		<thead>
			<tr>
				{% for name in names %}
				    <th>{{ name }}</th>
				{% endfor %}
				{% if actions %}
					<th>Actions</th>
				{% endif %}
				{% if modals %}
					<th>Actions</th>
				{% endif %}
			</tr>
		</thead>
		<tbody>
			{% for row in rows %}
				<tr>
					{% for col in cols %}
					    <td>
					    	{% if col is iterable %}
						    	{% for c in col %}
						    	    {{ self.get_attribute(row, c) }} 
						    	{% endfor %}
						    {% else %}
						    	{{ self.get_attribute(row, col) }}
					    	{% endif %}
					    </td>
					{% endfor %}
					{% if actions %}
						<td>
							{% for action in actions %}
		                    	<a href="{{ path( action.path, {'id': row.id}) }}" class="btn btn-link btn-sm">{{ action.label }}</a>
		                    {% endfor %}
		                </td>
	                {% endif %}
	                {% if modals %}
	                	<td>
	                		{% for modal in modals %}
	                			<a href="#" data-toggle="modal" data-target="#modal-{{ modal.id }}-{{ row.id }}">{{ modal.label }}</a>
	                		{% endfor %}
	                	</td>
	                {% endif %}
				</tr>
			{% endfor %}
		</tbody>
	</table>
{% endmacro %}

{% macro get_attribute(object, attributes) %}
    {% apply spaceless %}
    {% set attributes = attributes|split('.') %}

    {% set value = object %}
    {% for attribute in attributes %}
        {% set value = attribute(value, attribute|trim) is defined ? attribute(value, attribute|trim) : null %}
    {% endfor %}
    {% if value.timestamp is defined %}
	    {{ value|date('Y-m-d H:i:s') }}
	{% else %}
	    {{ value }}
	{% endif %}
    {% endapply %}    
{% endmacro %}